@font-face {
  font-family: "iconfont"; /* Project id 5095113 */
  src: url('iconfont.woff2?t=1766410715598') format('woff2'),
       url('iconfont.woff?t=1766410715598') format('woff'),
       url('iconfont.ttf?t=1766410715598') format('truetype'),
       url('iconfont.svg?t=1766410715598#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove_moderator:before {
  content: "\e612";
}

.icon-captive_portal:before {
  content: "\e613";
}

